<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Webac Konfigurator APP</title>
	<link rel="stylesheet" href="css/app.css" media="all">

</head>
<body>
<div id="webacAPP">
    
       
    
       
       
    <div id="anwendungsgebiete">
        <script type="text/template" id="anwendungsgebietTemplate">
                <div class="inner">
                    <h1>    <%= name %>  </h1>
                </div><!-- inner -->
        </script>
    </div>

      
       
    <!-- POSSIBLY OLD VIEW       -->
    <div id="filterProducts">
        
        <script type="text/template" id="filterTemplate">
            <option value='<%= optionName %>'><%= optionName %></option>
        </script>
    </div> <!-- filterContainer -->
    
    
    
    

	<div id="productsView">
		<script type="text/template" id="productTemplate">
        <div class="inner">
		<h4><span><%= title %></span></h4>
		<ul>
			
			<% if (filterable.AnwendungFuer) { %>
			 <li><strong>AnwendungFuer:</strong><%= filterable.AnwendungFuer %></li>
			<% } %>
			
            <% if (filterable.Eigenschaften) { %>
			 <li><strong>Eigenschaften: </strong><%= filterable.Eigenschaften %></li>
			<% } %>
			
            <% if (filterable.Anwendungsart) { %>
			 <li><strong>Anwendungsart: </strong><%= filterable.Anwendungsart %></li>
			<% } %>
            
			<% if (link) { %>
			 <li><strong>link:</strong><%= link %></li>
			<% } %>
            
		</ul>
		<button class="btn btn-danger">Delete</button>
		</div>
		</script>
	</div><!-- productsView -->



	</div><!-- Container -->
	</div> <!-- mapAPP -->

    <script>
    
    var data = [
        { 
			id: 1,
			title: 'Webac 150',
			Anwendungsgebiet: 'Bauwerksabdichtung',
			productBild: '<img alt="Webac 150" src="http://ell.eitictlabs.eu/typo3temp/pics/6a557a649d.jpg" width="145" height="69" />',
			filterable:  {
				AnwendungFuer: ['Horizontalsperre', 'Mauerwerksabdichtung','Arbeitsfugen', 'Dehnfugen', 'Drückendes Wasser', 'Kein Drückendes Wasser', 'Flächen Vorbereiten', 'Beschichtung'],
				Eigenschaften: ['DFG>90%','DFG>90%', 'Hohlraumverfüllung', 'Vertikalabdichtung','Abdichtung gegen von außen einwirkendes Druckwasser', 'Baufstoff: Beton', 'Baufstoff: Mauerwerk', 'Baufstoff: Holz', 'trocken, feucht, nass', 'fließend', 'trocken', 'feucht', 'nass', 'Injektion'],
				Anwendungsart: ['Injektion', 'Grundierung', 'Reperatur', 'Hinterfüllung', 'Reperatur+Grundierung/Primer','Tränken,Impregnieren', 'Grundierung für Beschichtung', 'Verlaufbeschichtung', 'Rollbeschichtung', 'Voranstrich']
			 } ,
			link: 'http://www.webac-grouts.com.siteway.net/products/product-groups/pu-injection-foam-resins/webac-150/'
		 },
        {  
			id: 2,
			title: 'Webac 151',
			Anwendungsgebiet: 'Risssanierung',
			productBild: '<img alt="Webac 150" src="http://ell.eitictlabs.eu/typo3temp/pics/6a557a649d.jpg" width="145" height="69" />',
			filterable:  {
				AnwendungFuer: ['Dehnbarer Beton', 'Krafschlüssiger Beton'],
				Eigenschaften: ['trocken, feucht, nass', 'fließend', 'trocken', 'feucht', 'nass'],
				Anwendungsart: ['Injektion', 'Grundierung', 'Reperatur', 'Hinterfüllung', 'Reperatur+Grundierung/Primer','Tränken,Impregnieren', 'Grundierung für Beschichtung', 'Verlaufbeschichtung', 'Rollbeschichtung', 'Voranstrich']
			 } ,
			link: 'http://www.webac-grouts.com.siteway.net/products/product-groups/pu-injection-foam-resins/webac-150/'
		 }
        
    ];
    </script>
    
    <a href="#" class="btn btn-default viewJSON">VIEW JSON</div>
    
    
    <script  src="js/app.min.js"></script>
    <script>
        
        $(function() {
           $('.viewJSON').click(function(){
                console.debug(Webac.productsCollection.toJSON());
           });
        });

    
    </script>

    
	

</body>
</html>		