<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Webac Konfigurator APP</title>
	 <link rel="stylesheet" href="http://www.webac.de/fileadmin/system/css/style.css">
	<link rel="stylesheet" href="css/app.css" media="all">

</head>
<body>

<div class="page">
    <div class="allcont">
    <div id="webacAPP">

    <div id="anwendungsSelections">
        <script type="text/template" id="anwendungsSelectTemplate"> 
                <a class="inner">
                    <%= bild %>
                    <h3><%= name %></h3>
                </a>
                <i class="fa fa-times close"></i>
        </script>
    </div><!-- anwendungsgebiete -->        
    <div id="anwendungsgebiete">
        <script type="text/template" id="anwendungsgebietTemplate">         
           <h1>    <%= name %>  </h1>
        </script>
    </div><!-- anwendungsgebiete -->
    
    <div id="filterProducts">
        <script type="text/template" id="filterTemplate">
            <option value='<%= optionName %>'><%= optionName %></option>
        </script>
    </div> <!-- filterContainer -->
    
    
    
    

	<div id="productsView">
		<script type="text/template" id="productTemplate">
        <div class="inner">
		<h4><span><%= title %></span></h4>
		<ul>
			
			<% if (filterable.AnwendungFuer) { %>
			 <li><strong>AnwendungFuer:</strong><%= filterable.AnwendungFuer %></li>
			<% } %>
			
            <% if (filterable.Eigenschaften) { %>
			 <li><strong>Eigenschaften: </strong><%= filterable.Eigenschaften %></li>
			<% } %>
			
            <% if (filterable.Anwendungsart) { %>
			 <li><strong>Anwendungsart: </strong><%= filterable.Anwendungsart %></li>
			<% } %>
            
			<% if (link) { %>
			 <li><strong>link:</strong><%= link %></li>
			<% } %>
            
		</ul>
		<button class="btn btn-danger">Delete</button>
		</div>
		</script>
	</div><!-- productsView -->



	</div> <!-- webacAPP -->
    </div><!--allcont-->
</div><!--page-->
    <script>
    
    var data = [
        { 
			id: 1,
			title: 'Webac XX',
			Anwendungsgebiet: 'Bauwerksabdichtung',
			image: '<img alt="Bauwerksabdichtung" src="http://cdn.webac.de/typo3temp/_processed_/csm_Bauwerksabdichtung_fdff9f8a27.png" width="82" height="82" />',
			filterable:  {
				AnwendungFuer: ['Horizontalsperre'],
				Eigenschaften: ['DFG>90%','DFG>90%', 'Hohlraumverfüllung', 'Vertikalabdichtung','Abdichtung gegen von außen einwirkendes Druckwasser', 'Baufstoff: Beton', 'Baufstoff: Mauerwerk', 'Baufstoff: Holz', 'trocken, feucht, nass', 'fließend', 'trocken', 'feucht', 'nass', 'Injektion'],
				Anwendungsart: ['Injektion', 'Grundierung', 'Reperatur', 'Hinterfüllung', 'Reperatur+Grundierung/Primer','Tränken,Impregnieren', 'Grundierung für Beschichtung', 'Verlaufbeschichtung', 'Rollbeschichtung', 'Voranstrich']
			 } ,
			link: 'http://www.webac-grouts.com.siteway.net/products/product-groups/pu-injection-foam-resins/webac-150/'
		 },
        { 
			id: 2,
			title: 'Webac 150',
			Anwendungsgebiet: 'Bauwerksabdichtung',
			image: '<img alt="Bauwerksabdichtung" src="http://cdn.webac.de/typo3temp/_processed_/csm_Bauwerksabdichtung_fdff9f8a27.png" width="82" height="82" />',
			filterable:  {
				AnwendungFuer: ['Mauerwerksabdichtung','Arbeitsfugen', 'Dehnfugen', 'Drückendes Wasser', 'Kein Drückendes Wasser', 'Flächen Vorbereiten', 'Beschichtung'],
				Eigenschaften: ['DFG>90%','DFG>90%', 'Hohlraumverfüllung', 'Vertikalabdichtung','Abdichtung gegen von außen einwirkendes Druckwasser', 'Baufstoff: Beton', 'Baufstoff: Mauerwerk', 'Baufstoff: Holz', 'trocken, feucht, nass', 'fließend', 'trocken', 'feucht', 'nass', 'Injektion'],
				Anwendungsart: ['Injektion', 'Grundierung', 'Reperatur', 'Hinterfüllung', 'Reperatur+Grundierung/Primer','Tränken,Impregnieren', 'Grundierung für Beschichtung', 'Verlaufbeschichtung', 'Rollbeschichtung', 'Voranstrich']
			 } ,
			link: 'http://www.webac-grouts.com.siteway.net/products/product-groups/pu-injection-foam-resins/webac-150/'
		 },
         
        {  
			id: 3,
			title: 'Webac 151',
			Anwendungsgebiet: 'Risssanierung',
			image: '<img alt="Risssanierung" src="http://cdn.webac.de/typo3temp/_processed_/csm_Risssanierung_e1a8eb5d1f.png" width="82" height="82" />',
			filterable:  {
				AnwendungFuer: ['Dehnbarer Beton', 'Krafschlüssiger Beton'],
				Eigenschaften: ['trocken, feucht, nass', 'fließend', 'trocken', 'feucht', 'nass'],
				Anwendungsart: ['Injektion', 'Grundierung', 'Reperatur', 'Hinterfüllung', 'Reperatur+Grundierung/Primer','Tränken,Impregnieren', 'Grundierung für Beschichtung', 'Verlaufbeschichtung', 'Rollbeschichtung', 'Voranstrich']
			 } ,
			link: 'http://www.webac-grouts.com.siteway.net/products/product-groups/pu-injection-foam-resins/webac-150/'
		 }
        
    ];
    </script>
    
<!--    <a href="#" class="btn btn-default viewJSON">VIEW JSON</div> -->
    
    
    <script  src="js/app.min.js"></script>
    <script>
        
        $(function() {
           $('.viewJSON').click(function(){
                console.debug(Webac.productsCollection.toJSON());
           });
        });

    
    </script>

    
	

</body>
</html>		
