@import "bourbon";

$red: #e30613;
$redDark:  darken($red, 10);
$redLight: lighten($red, 10);
$grey : #e6e9ee;
$bodyColor: #7b7b7b;


@import "spinners/1-rotating-plane";
#webacAPP {
	position: relative;
    text-align: center;
    padding-top: 20px;
    min-height: 500px;
    margin: 0 -35px;
    overflow: hidden;
    .innerapp{
        display: none;
    }
    hr{
        margin: 20px -30px;
    }
    .loader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        .sk-spinner{
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -30px;
            margin-top: -30px;
        }
    }
    .btn{
        @include linear-gradient($redLight, $redDark);
        border: none;
        position: relative;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 5px 10px;
        &.left, &.center, &.right{
            width: 33%;
            margin: 10px 0 0;
        }
        &.hint{
//            display: none;
            max-width: 500px;
            margin: 0 auto 10px;
            margin-top: 10px;
        }
        &.hint:hover{
            color: #fff;
        }
        &.hint:before{
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: $redLight;
            border-width: 8px;
            margin-left: -8px;
            margin-top: -12px;
        }
        &.white{
            background: #fff;
            border: 1px solid $grey;
            color: $bodyColor;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    
    #anwendungsSelections {
        .selections {
            text-align: center;
            padding: 10px 0;
            .selection {
                padding: 5px;
                display: inline-block;
                width: 25%;
                overflow: hidden;
                margin-bottom: 0;
                position: relative;
                background: #fff;
                a{
                    background: #fff;
                    font-size: 12px;
                    text-align: center;
                    display: block;
                    border-radius: 3px;
                    border: 1px solid $grey;
                    padding: 10px 0;
                    cursor: pointer;
                    text-decoration: none;
                    color: $bodyColor;
                    h3{
                        padding: 0;
                        font-size: 12px;
                        max-width: 90%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-align: center;
                        margin: 0 auto;
                    }//h3
                    img{
                        width: 25%;
                        margin: 0px 15px 15px;
                        height: auto;
                        border-radius: 100%;
                        border: 1px solid #e6e9ee;
                        background: #fff;
                    }
                }//a
                .close{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    font-size: 12px;
                    display: none;
                    opacity: 1;
                    color: $bodyColor;
                    cursor: pointer;
                    padding: 5px 8px;
                    &:hover{
                        background: $red;
                        color: #fff !important;
                    }
                }//close
                &:hover a{
                    border: 1px solid #e30613;
                }
            }//selection
            &.active .selection{
                a{
                    border: 1px solid #e30613;
                }
                 .close{
                    color: #e30613;    
                    display: block;
                }
            }
        }//selections
    }//anwendungsSelections
    
    
    .anwendungsgebiete{
        background: #f9f9f9;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        margin-bottom: 20px;
         .anwendungsgebiet   {
            display: inline-block;
            width: 100%;
            @include clearfix;
            text-align: center;
            // background: #f9f9f9;
            .inner{
                margin: 5px; 
                border: 1px solid #f9f9f9;
                border-radius: 3px;
                background: #fff;
                font-size: 12px;
                text-align: center;
                overflow: hidden;
            }
            .dropdown-menu{
                display: block !important; 
                float: none;
                clear: both;
                position: inherit;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-top: none;
                padding: 10px 0;
                margin: 0;
                a{
                    background: #fff;
                }
                input{
                    -webkit-appearance: checkbox;
                }
            }
            .btn-group{
                display: inline-block;
                width: 33%;
                //background: lightgrey;
                padding: 20px;
                overflow: hidden;
                vertical-align: top;
                // border: 1px solid lightgrey;
                .dropdown-toggle{
                    width: 100%;
                    border-radius:0;
                    color: grey;
                    font-size: 3em;
                    font-weight: lighter;
                    background:none;
                    border: none;
                    box-shadow: none;
                    cursor: inherit;
                }        
            }//btn-group
            .btn-group.done ul{
                 min-height: inherit;
                 li.active {
                    display: block;

                }
            }
            .btn-group.active {
                .dropdown-toggle{
                    color: #e30613;
                }
                 li{
                    display: block;
                }
                .multiselect-container{
                    min-height: 0px;    
                }
            }
            .multiselect-container{
                box-shadow: none;
                display: none;
                border: 1px dashed lightgrey;
                // border: none;
                border-radius: 2px;
                padding: 20px;
                padding-bottom: 0;
                min-height: 225px;
                background: url('../img/appbg.png') center no-repeat #fff;
                li{
                    display: none;
                    background-color: #fff;
                    padding-bottom: 20px;
                    text-align: left;
                    a{
                        white-space: inherit;
                        cursor: pointer;    
                        label{
                            cursor: pointer;
                        }
                    }
                    &.active {
                        .checkbox{
                        @include retina-image('../img/check', 45px 45px);
                        background-position: top left;
                        background-color: #fff;
                        color: #e30613;
                        &.skip{
                            @include retina-image('../img/arrow', 83px 8px);
                            background-position: center;
                        }
                      }//checkbox
                        a label{
                            cursor: default;
                        }//label
                    }//active
                }//li
                .checkbox{
                    padding: 15px 30px 15px 55px;
                    display: block;
                    @include retina-image('../img/input', 45px 45px);
                    background-color: #fff;
                    background-repeat: no-repeat;
                    background-position: left center;
                    &:hover{
                        
                        @include retina-image('../img/inputH', 45px 45px);
                        background-color: #fff;
                        color: #e30613;
                    }
               
                }

                input{
                   display: none;
                }
            }
         }//anwendungsgebiet
    }//anwendungsgebiete

    #filterProducts{        
        //border: 1px solid red;
        background: lightgrey;
        .filters{
            @include clearfix;
            text-align: center;
            
            .dropdown-menu{
                display: block !important; 
                float: none;
                clear: both;
                position: inherit;
            }
            .btn-group{
                display: inline-block;
                width: 33%;
                background: lightgrey;
                padding: 10px;
                overflow: hidden;
                vertical-align: top;
                .dropdown-toggle{
                    width: 100%;
                    border-radius:0;
                }        
            }//btn-group
        }//filters
    }//filterLocations
    

    
    
    #productsView{
        margin: 35px;
    }
    
    .product{
        
        padding: 10px;
        display: inline-block;
        width: 25%;
        overflow: hidden;
        
        .inner{
            box-shadow: 0 0 5px #e4e4e4;
            position: relative;
            background: #fff;
            padding: 1px;
            border: 1px solid #e6e9ee;

            &:hover{
                border: 1px solid $red;
                h4{
                    background: $red;
                    color: #fff;
                }
                a{
                    text-decoration: none;
                }

            }
            img{
                width: 100%;
                height: auto;
            }
            h4{
                border: none;
                font-size: 13px;
                color: $bodyColor;
                margin: 0;
                padding: 10px;
            }
        }
        
    }
	

}//webacAPP
